@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

*,
*::before,
*::after {
  margin: 0;
  padding:0;
  box-sizing: border-box;
}

html {
  font-family: 'Poppins',sans-serif;
}

body {
  /* width: 100%; */
  text-align: center;
  background-color: #fcf5eb;
  color: #ff9a83;
}

/* TYPOGRAPHY */

h1 {
  font-size: 2rem;
}

/* LAYOUT */

.site-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* min-height: 100vh; */
}

.header {
  margin-top: 0.5rem;
  padding-bottom: 1rem;
  font-size: 2rem;
  color: #FF0051;
}

.initial-page {
  /* outline: 1px dashed red; */
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 0 1rem;
  min-height: 75vh;
  max-height: 90vh;
  max-width: 900px;
}

.choice {
  /* outline: 5px dashed green; */
  display: flex;
  flex-grow: 1;
  width: 100%;
  /* max-height: 100vw; */
  justify-content: center;
  align-items: center;
  background-color: #fdd1bf;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 6px;
  cursor: pointer;
  padding: 0 1.5rem;
}

.type-choice {
  padding: 0 5.2rem;
}

.options-page {
  /* outline: 1px dashed red; */
  display: flex;
  flex-direction: column;
  /* justify-content: space-around; */
  margin: 0 1rem;
  min-height: 85vh;
  max-width: 900px;
  /* padding: 1rem; */
}

.option {
  /* flex-grow: 1; */
  min-width: 100%;
  aspect-ratio: 1 / 1;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1.6em;
  font-size: 1.4rem;
  font-weight: 600;
  color: #ff9a83;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 6px;
  text-decoration: none;
}

.list-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  padding-bottom: 133px;
}

.confirm-btn {
  width: 80%;
  max-width: 300px;
  margin: 0 auto;
  padding: 1.5rem 2rem;
  font-size: 1.5rem;
  background-color: #FF0051;
  color: #fcf5eb;
  border-radius: 16px;
  border-style: none;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  cursor: pointer;
  position: fixed;
  bottom: 1rem;
  right: 0;
  left: 0;
}

input,select {
  font-family: 'Poppins',sans-serif;
  color: #5c5b5b;
  outline: none;
}

input[type=text]:focus ,textarea:focus{
  outline: none !important;
  border: 1px solid #555;
  transition: .5s;
}

a {
  text-decoration: none;
  cursor: pointer;
}

a, a:visited, a:hover, a:active {
  color: inherit;
}

.selected {
  color: red
}

/* MEDIA QUERIES */

@media only screen   
and (min-device-width : 1024px) {
  .four-column {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  .six-column {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }
}


/* 
site-background: #fcf5eb
accent/outlines: #ffad99
text: #fdd1bf
darker: #ff9a83 
darkest: #801B04
*/