*,
*::before,
*::after {
  margin: 0;
  padding:0;
  box-sizing: border-box;
}

html {
  font-family: 'PT Serif', serif;
}

body {
  /* width: 100%; */
  text-align: center;
  background-color: #fcf5eb;
  color: #ff9a83;
}

/* TYPOGRAPHY */

h1 {
  font-family: 'Rufina', sans-serif;
  font-size: 2rem;
}

Link {
  font-family: 'Rufina', sans-serif;
  font-weight: 700;
}

/* LAYOUT */

.site-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* min-height: 100vh; */
}

.header {
  margin-top: 0.5rem;
  padding-bottom: 1rem;
  font-size: 1.6rem;
  color: #FF0051;
  cursor: pointer;
}

.main-page {
  max-width: 900px;
  /* outline: 1px dashed blue; */
}

.initial-page {
  /* outline: 1px dashed red; */
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 0 1rem;
  min-height: 75vh;
  max-height: 90vh;
  /* max-width: 900px; */
}

.choice {
  /* outline: 5px dashed green; */
  display: flex;
  flex-grow: 1;
  width: 100%;
  /* max-height: 100vw; */
  justify-content: center;
  align-items: center;
  background-color: #fdd1bf;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 6px;
  cursor: pointer;
  padding: 0 1.5rem;
}

.type-choice {
  padding: 0 5.2rem;
}

.options-page {
  /* outline: 1px dashed red; */
  display: flex;
  flex-direction: column;
  /* justify-content: space-around; */
  margin: 0 1rem;
  min-height: 85vh;
  /* max-width: 900px; */
  /* padding: 1rem; */
}

.option {
  /* flex-grow: 1; */
  min-width: 100%;
  aspect-ratio: 1 / 1;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1.6em;  
  font-size: 1rem;
  font-weight: 600;
  background-color: #fdd1bf;
  color: #ff9a83;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 6px;
  text-decoration: none;
  cursor: pointer;
}

.list-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  padding-bottom: 133px;
}

.confirm-btn {
  position: fixed;
  bottom: 1rem;
  right: 0;
  left: 0;
}

.dish-page {
  /* outline: purple 1px dashed; */
  max-width: 900px;
  padding-bottom: 1rem;
}

.dish-card {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  max-width: 500px;
}

.dish-container {
  align-self: center;
  height: 70vh;
  max-width: 425px;
}

.dish-img {
  width: 95%;
  max-width: 400px;
  max-height: 400px;
  border-radius: 8px;
}

.dish-name {
  font-size: 1.4rem;
  padding-top: 1rem;
}

.restaurant-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: first baseline;
  height: 400px;
}


.dish-price,
.restaurant-map,
.restaurant-name,
.restaurant-address {
  display: flex;
  align-items: center;
}

.dish-price,
.restaurant-map {
  justify-content: center;
}

.restaurant-map {
  height: 60%;
}

.restaurant-info {
  display: flex;
  width: 95%;
  padding-left: 1rem;
  padding-right: 1rem;
  gap: 1rem;
}

.restaurant-name {
  flex-basis: 30%;
}

.restaurant-address {
  flex-basis: 70%;
}

.restart-btn {
  grid-area: btn;
}

.btn {
  max-width: 300px;
  margin: 1rem auto;
  padding: 0.75rem 1.5rem;
  font-family: inherit;
  font-size: 1.2rem;
  background-color: #FF0051;
  color: #fcf5eb;
  border-style: none;
  border-radius: 16px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  cursor: pointer;
}

input,select {
  font-family: 'Poppins',sans-serif;
  color: #5c5b5b;
  outline: none;
}

input[type=text]:focus ,textarea:focus{
  outline: none !important;
  border: 1px solid #555;
  transition: .5s;
}

a {
  text-decoration: none;
  cursor: pointer;
}

a, a:visited, a:hover, a:active {
  color: inherit;
}

.spinner-container {
  height: 75vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes spinner {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
}

.loading-spinner {
  width: 40px;
  height: 40px;
  border: 8px solid #fdd1bf;
  border-top: 8px solid #ff9a83;
  border-radius: 50%;
  animation: spinner 1.5s linear infinite;
}

/* MEDIA QUERIES */

@media only screen   
and (min-device-width : 472px) {
  .header {
    font-size: 2rem;
    padding-bottom: 3rem;
  }
}

@media only screen   
and (min-device-width : 1024px) {
  .medium {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  .wide {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }

  .dish-page {
    max-width: 1100px;
  }

  .dish-card {
    flex-direction: row;
    max-width: 1100px;
    gap: 5rem;
  }

  .dish-container {
    flex-basis: 50%;
  }

  .restaurant-container {
    max-width: 400px;
    flex-basis: 50%;
    justify-content: center;
  }

  .restaurant-map {
    max-height: 100%;
    width: 100%;
  }

  .restaurant-map iframe {
    width: 95%;
  }

  .restart-btn {
    align-self: center;
    width: 20rem;
  }
}

/* UTILITY */

.new-line {
  white-space: pre-line;
}

.disabled {
  opacity: 0.6;
  cursor: not-allowed;
  background-color: #D7DCDE;
  color: whitesmoke;
}

.selected {
  background-color: #FF0051;
  color: #fcf5eb;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* 
site-background: #fcf5eb
accent/outlines: #ffad99
text: #fdd1bf
darker: #ff9a83 
darkest: #801B04
*/